.heading:hover{
    width:45%;
}
.heading{
    background: rgb(179, 39, 0);
    background: linear-gradient(93deg, rgba(152,33,0,1) 0%, rgba(173,0,0,1) 64%, rgba(255,0,0,0.6923144257703081) 100%);
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 50px;
    vertical-align: middle;
    width: 50%;
}
.heading-content{
    background-color: rgb(202, 70, 47);
    display: none;
    
}
.label-header{
    font-family: 'Carter One';
    font-size: 18pt; 
}
.show-content{
    background-color: rgb(240, 140, 122);
    padding-bottom: 10px;
    text-align: center;
    
}


#binary-img{
    
    background-repeat: repeat;
    background-size: contain;
    height: 800px;
    
    position: relative;

    top: 0px;
    width: 400px;
}

#css-logo{
    width: 90px;
}

#name{
    background-color: orange;
    border-radius: 10px;
    border-style: solid;
    font-family: 'Dancing Script', cursive;
    font-size: 18pt;
    position: relative;
    text-align: center;
    margin: 0px 50px 0px 50px;
    padding: 0px 0px 0px 0px;
}
#intro{
    margin-top: 0px;
}

#tech-skills{
    list-style-type: none;
    
}


body{
    background: rgb(101,81,223);
    background: linear-gradient(90deg, rgba(101,81,223,1) 0%, rgba(255,36,36,1) 42%, rgba(252,176,69,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}