:root{
    --logo-size: 3em;
    --heading-top: -5px;
    --dark-blue: #002244;
    --light-blue: #77AACB;
    --med-blue: #43658b;
}
@media (max-width:600px){
    
    .skill-list{
        font-family: 'Open Sans', sans-serif;
        margin-right: 10px;
    }
    #code-skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-size: 10pt;
    }
    #secondary-code-skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 10pt;
            
    }
    #name-area{
        background-color: var(--med-blue);
        margin: 0px;
        width: 100%;
    }
    
}
.heading:hover{
    box-shadow: 5px 5px rgba(41,41,41,0.4);
    
}
.heading{
    background-color: #43658b;
    background-repeat: no-repeat;
    border-color: var(--dark-blue);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color:  #002244;
    top: 0px;
    margin: 3px;
    max-height: 50px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 33%;
}
.heading-content{
    display: none;
    height: 50px;
    z-index: 3;
}
.label-header{
    font-family: 'Carter One';
    font-size: 14pt; 
}
.logo{
    width: var(--logo-size);
       
}
.name-class{
    color:  #002244;
    margin-left: 5px;
    margin-top: -40px;
    
}

.show-content{
    background-color: #77AACB;
    box-shadow: 5px 5px rgba(41,41,41,0.4);
    max-height: 500px;
    padding-bottom: 10px;
    overflow: hidden;
    text-align: center;
    z-index:3;
    animation-name: content-show;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
<<<<<<< HEAD
=======
}
@keyframes content-show{
    0%{
        transform: scaleY(0);
        width: 140%;
        
    }
    50%{
        transform: scaleY(1);  
        width: 200%;
    }
    100%{
        transform: translateX(49.75%);
        width: 200%;
    }
>>>>>>> 154b5ef5a26f87ce15f4bb713b61ee43e256f03c
}


.skill-list{
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    
}

#bio-area{
    color:  #002244;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    text-align: center;
    margin-left: 25%;
    padding: 0px 10px 0px 10px;
    top: 80%;
    width: 50%;
    z-index:2;
    
}
#choose{
    color:  #002244;
    position: relative;
    margin: 20px;
    padding: 0px;
    width: 100%;
}

#code-skills{
    display: flex;
    justify-content: space-around;
   
        
}
#developer{
    margin-top: -20px;
    margin-bottom: -10px;
    margin-right: 10px;
    font-size: 20pt;
    position: relative;
    left: 150px;
}
#flex-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right:5px;
    top: 10%;
    
}

#footer{
    background-color: #43658B;
    margin: 0px;
    position: fixed;
    top: 93%;
    width: 100%;
}


#secondary-code-skills{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
   
        
}


#list-tech-skills{
    list-style-type: none;
}
#main-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
}
#main-nav a{
    color: var(--dark-blue);
    text-decoration: none;
    padding: 5px;
    padding-bottom: 0px;
    margin-right: 5px;
    border-bottom: solid;
    border-color: var(--med-blue);
}
#main-nav a:hover{
    background-color: var(--med-blue);

}


#projects-div{
    top: var(--heading-top);
}




body{
    background-image: url('/images/blueballsbackground.png');
    background-size: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

@keyframes content-show{
    0%{
        transform: scaleY(0);
        width: 140%;
        
    }
    50%{
        transform: scaleY(1);  
        width: 180%;
    }
    100%{
        transform: translate(50%,-60px);
        width: 200%;
    }
}


